{% extends 'global/base.html' %}

{% block title %}Questões{% endblock title %}

{% block content %}

    <h1 class="title">{{ exam.name }} - Questões</h1>
    <a href="{% url 'results:exam' exam.slug %}">
        <div class="buttonResults">
            <button class="btn btn-light">Ver Resultados</button>
        </div>
    </a>

    <div class="card d-inline-block" style="width: 14rem;">
        <div class="card-body">
            <p class="card-text"><strong>Adicionar Questão</strong></p>
            <div class="card-body">
                <div class="button-card">
                    <a href="{% url 'teachers:create_question' exam.slug %}">
                        <button type="button" class="btn btn-outline-success">Adicionar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% for question in questions %}
        {% include 'teachers/partials/question_card.html' %}
    {% endfor %}


{% endblock content %}