<div class="card d-inline-block" style="width: 14rem;">
    <div class="card-body">
    <p class="card-text"><strong>{{ question }}</strong></p>
        <div class="card-body">
            <div class="">
                <form action="{% url 'teachers:question_delete' %}" class="button-form inline-form delete-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="question" value="{{ question.id }}">
                    <button type="submit" class="btn btn-outline-danger btnExcluir">Excluir</button>
                </form>
                <a href="{% url 'teachers:update_question' exam.slug question.slug %}">
                    <button type="button" class="btn btn-outline-info btnEditar">Editar</button>
                </a>
            </div>
        </div>
    </div>
</div>