<div class="form-box">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}

        <div class="d-grid gap-2 col-6 mx-auto button-container">
            <button class="btn btn-primary button-entrar" type='submit'>Salvar</button>
            <a href="{{ cancel_url }}">
                <button class="btn btn-primary button-cancel" type="button">Cancelar</button>
            </a>
        </div>

    </form>
</div>