{% load static%}

<nav>
  <div class="logo">
    <i class="bx bx-menu menu-icon"></i>
    <span class="logo-name">
      <img src="{% static 'global/images/FLYO-LOGO.png' %}" alt="logo" width="170" height="45"></img>
    </span>
  </div>
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">
        <img src="{% static 'global/images/FLYO-LOGO.png' %}" alt="logo" width="170" height="45"></img>
      </span>
    </div>
    <div class="sidebar-content">
      <ul class="lists">
        <li class="list menu-toggle">
          <a class="nav-link">
            <i class="bx bxs-book icon"></i>
            <span class="link">Aluno</span>
            <i class="bx bx-chevron-down arrow" style="color: #fff"></i>
          </a>
          <ul class="submenu">
            <li class="list">
              <a href="{% url 'students:exams' %}" class="nav-link">
                <i class='bx bxl-python icon'></i>
                <span class="link">Provas</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'results:exams' user.username %}" class="nav-link">
                <i class='bx bx-stats icon'></i>
                <span class="link">Resultados</span>
              </a>
            </li>
          </ul>
        </li>

        {% if teacher_permision is True %}
        <li class="list menu-toggle" >
          <a class="nav-link">
            <i class='bx bx-glasses-alt icon'></i>
            <span class="link">Professor</span>
            <i class="bx bx-chevron-down arrow" style="color: #fff"></i>
          </a>
          <ul class="submenu">
            <li class="list">
              <a href="{% url 'teachers:exams' %}" class="nav-link">
                <i class='bx bxl-python icon'></i>
                <span class="link">Provas</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class='bx bx-stats icon'></i>
                <span class="link">Resultados</span>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        
        <div class="divider"></div>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Área do administrador</span>
          </a>
        </li>
        <li class="list" id="saida">
          <a href="{% url 'logout' %}?next=/" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link">Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>