@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 15%;
  }

.logo-errorPage{
    text-align: center;
    margin-bottom: 1%;
  }

.logoSite img {
    max-width: 250px;
    width: 90%;
}

.img404{
    margin: auto;
    z-index: -1;
}

.error-container{
    margin-top: 85px;
}

.num-error{
    text-align: center;
    font-size: 110px;
    margin: auto;
    margin-top: 5%;
    text-shadow: 1px 1px 2px black;
}

.message-404, .message-403{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: auto;
    text-shadow: 1px 1px 2px black;
}

.message404-2, .message403-2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 12px;
    text-shadow: 1px 1px 2px black;
}

.buttonBack{
    text-align: center;
    margin-bottom: 45px;
    margin-top: 30px;
  }

a {
    text-emphasis: none;
}