@charset "UTF-8";

body {
    background-color: #417B5A;
}

.buttonResults{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-container {
    margin-top: 130px;
}

.form-box {
    margin: auto;
}

.form-title {
    color: white;
    text-align: center;
}

.prova-title {
    margin-top: 20px;
}

.form-box form{
    background-color: #333333;
    color: #F1E9DB;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-box form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-box form input {
    margin-bottom:10px;
}

.form-box form input[type=text], input[type=password]{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.form-box form input[type=file] {
    width: 80%;
}

.form-box form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2F5174;
    color: #F1E9DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.15s ease-in-out;
}

.form-box form .button-entrarSuap {
    background-color: #198754;
}

.form-box form .button-entrarSuap:hover {
  background-color: #64b788;
}

.form-box form .button-cancel {
    background-color: #d90429 ;
    color: #F1E9DB;
}

.form-box form .button-container {
    width: 100%;
}

.form-box form a {
    text-decoration: none;
}

.title {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 28px;
  background-color: #417B5A;
}

.title-2 {
  text-align: center;
  color: white;
  font-size: 28px;
  background-color: #417B5A;
}

.card-wrapper {
    padding-left: 20px;
    padding-right:20px;  
}

.card {
    position: relative;
    top: 50px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.plusAddProvas {

  margin-left: 60px;
}

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-text {
  text-align: center;
  font-size: 20px;
}

.btnAcessar, 
.btnPublicar, .btnPrivar{
  width: 100%;
}

.btnEditar{
  width: 48%;
}

.inline-form{
  margin: 0;
  display: inline-block;
  width: 48%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #417B5A
  ;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #fff;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #417B5A;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.submenu {
  display: none;
}

.active .submenu {
  display: block;
}

nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.list a {
  display: flex;
  align-items: center;
  margin: 2px 0;
  padding: 4px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff
}

.list a:hover {
  background-color: #64B788;
}

.lists .nav-link:hover {
  background-color: #64B788;
}
.lists #saida .nav-link:hover {
  background-color: #d01919;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #fff;
}
.nav-link .link {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.divider {
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-ambient{
  text-align: center;
  margin-top: 80px;
  color: white;
  font-size: 28px;
}

.questao-container {
  background-color: #292F36;
  color: #F1E9DB;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.questao-container label, .errors{
  margin-bottom:25px;
  
}

.errors p {
  color: rgb(194 0 0);
}

.questao-container2{
  background-color: #292F36;
  color: #F1E9DB;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-toggle, .dropdown{
  text-align: center;
  width: 100%;
  max-width: 640px;
  margin: 10px auto;
  padding: 20px;
}

.dropdown-menu {
  width: 94%;
  border-radius: 20px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.dropdown-menu .dropdown-item{
  text-align: center;
  margin-bottom:3px;
}

.dropdown-menu li{
  border-radius: 20px;
}

.dropdown-item:hover{
  border-radius: 20px;
}

.downloadButton{
  text-decoration: none;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px (0, 0, 0, 0.5);
  background-color: #f8f9fa;
}

input[type="file"]{
  width:75%;
}

.button-questao {
  width: 49.6%;
  display: inline-block;
}

.button-container a {
  text-decoration: none;
}

@media (max-width: 582px) {
  .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  .button-questao {
      display: block;
      margin-bottom: 10px;
  }
}


h5 {
  text-align: center;
}

.linkDownload{
  text-decoration: none;
  color: black;
}

.question-result-title {
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

table {
  width: 50%;
  font-family: Arial, sans-serif;
  color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: #2F5174;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}


th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #64B788;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #64B788;
}

tr:nth-child(odd) {
  background-color: #2F5174;
}
